services:
  api:
    build: .
    ports:
      - '8001:8000'
    volumes:
      - .:/app
    environment:
      - PYTHONUNBUFFERED=1
    command: uv run uvicorn apps.api.main:app --host 0.0.0.0 --port 8000 --reload

  crawler:
    build: .
    volumes:
      - .:/app
    environment:
      - PYTHONUNBUFFERED=1
    command: uv run python -m apps.crawler.tasks.scheduler
